
fastapi
uvicorn[standard]
sqlalchemy
pyodbc
python-multipart
python-jose[cryptography]
passlib[bcrypt]
ollama
pydantic
python-dotenv

# Core AI & Deep Learning
torch
transformers
huggingface_hub

# Image Processing
pillow

# Visualization & Networking
matplotlib
seaborn

requests

requests
b35080aba31438130602bb72e6a03bd4f74e5b69
39a9d250c883a8f9ef9d7d25d28176168beb08a8
